.codes{
    background-color: antiquewhite;
    color: black;
}
.heading{
    font-size: 20px;
    padding: 10px;
    padding-left: 0px;
}
.lineDetail{
    padding-left: 2px ;
    padding-top: 4px;
    padding-bottom: 6%;
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-top: 20px;

}
.nextButton{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.firstWord{
    color: red;
    margin-right: 3px;
}
.line{
    margin-top: 8px;
}
.prevButton{
    margin-left: 500px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    font-style: normal;
    border: none;
    border-radius: 5px;
    color: green;
    background-color: rgb(214, 203, 143);
}
.prevButton:active{
    background-color: beige;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.6);
}
.nextButton{
    margin-left: 500px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    font-style: normal;
    border: none;
    border-radius: 5px;
    color: green;
    background-color: rgb(214, 203, 143);
    transition: 500ms;
}
.nextButton:active{
    background-color: beige;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.6);
}
.align{
    position:relative;
    width: 600px;
    margin:  auto;
}